{% extends 'base.html' %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block title %}User History | Skin Cancer{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/owl.carousel.min.css')}}">
{% endblock %}

{% block content %} 
<div class="container my-2 p-2">   
    <h2 id="HistoryHeading" class="text-center">History</h2> 
    <div id="TrackingHistory" class="px-2 py-1">
        <div class="InnerHistory d-flex justify-content-center align-items-center ">
          <div class="owl-carousel owl-theme ">
            {% for image in images %}
            <div class="ps-2">
                <div class="">
                    <img src="{{ url_for('static', filename='uploads/' + image.name) }}" class="img-fluid" alt="{{ image.name }}">                    <div class="text-center">
                        <p class="text-muted">{{ image.date.strftime('%Y-%m-%d %H:%M:%S') }}</p> 
                        <h4>{{ image.prediction }}</h4>  
                    </div>
                </div>
            </div>
            {% endfor %}     
          </div>
        </div> 
        <div class="d-grid gap-2 col-5  mx-auto w-25">
            <button type="button" id="BackToProfile"  class="btn btn-primary rounded my-1  " style="background-color: #073775 !important; "><i class="fa-regular fa-user me-2"></i>Back to profile</button>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='JS/owl.carousel.min.js')}}"></script> 
<script>
    $(document).ready(function(){
         $('.owl-carousel').owlCarousel();
    });
</script> 
<script src="{{ url_for('static', filename='JS/History.js')}}"></script>
{% endblock %}



